@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Satisfy&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fcfbf7;
}

h1, h2 {
  font-family: 'Satisfy', cursive;
  color: #EC6651;
}
a {
  text-decoration: none;
}


/*Customized style*/

.btn-blue {
  background-color: #235590;
  color: rgb(250,250,250);
  transition: 0.2s;
  padding: 16px 32px;
  margin: 16px;
  display: inline-block;
  border-radius: 4px;
  transition: background-color .3s;
}

.btn-blue:hover {
  background-color: #E8A692;
}

.card-white {
  width: 600px;
  margin: 48px auto;
  padding: 32px;
  background-color: white;
  box-shadow: 0 0 16px rgb(0 0 0 / 10%);
  text-align: center;
  border-radius: 4px;
}

.img-circle {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 8px rgb(0 0 0 / 30%);
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline;
  font-size: 32px;
}

.list-inline a {
  margin: 8px;
  font-size: 56px;
  color: #235590;
}

.list-inline a:hover {
  color: #718AA6;
}
